<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
 "http://www.springframework.org/dtd/spring-beans.dtd"> -->
 <beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd"
       >

  
   <!--   -->
 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	<property name="driverClass" value="com.mysql.jdbc.Driver" /> 
	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/dbm"/> 
	<property name="user" value="zxj" /> 
	<property name="password" value="zxj@123" /> 
	<property name="autoCommitOnClose" value="false" />
	<property name="acquireRetryAttempts" value="30" />
	<property name="acquireIncrement" value="3"/>  
		
 </bean>

 <!-- oracle 
 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  
    destroy-method="close">  
    <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>  
    <property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.1.103:1521:mes"></property>  
    <property name="user" value="wip"></property>  
    <property name="password" value="Sap12345"></property>  
</bean>  -->
 
  
  
  <!-- 配置事务管理器 -->
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource"></property>
</bean>
  
 <!-- 定义事务通知 -->  
<tx:advice id="txAdvice" transaction-manager="transactionManager">  
    <!-- 定义方法的过滤规则 -->  
    <tx:attributes>  
        <!-- 所有方法都使用事务 -->  
        <tx:method name="*" propagation="REQUIRED" rollback-for="Exception"/>  
        <!-- 定义所有get开头的方法都是只读的 -->  
        <!-- <tx:method name="get*" read-only="true"/>   -->
    </tx:attributes>  
</tx:advice> 

<!-- 定义AOP配置 -->
<aop:config>  
    <!-- 定义一个切入点 -->  
    <aop:pointcut expression="execution (* com.zxj.dbm.service..*.*(..))" id="services"/>  
    <!-- 对切入点和事务的通知，进行适配 -->  
    <aop:advisor advice-ref="txAdvice" pointcut-ref="services"/>  
</aop:config> 
  

<bean id="logicService" class="com.zxj.dbm.service.impl.LogicService">
 	<property name="dataSource" ref="dataSource" />
 </bean>
 
 <bean id="shopOrderService" class="com.zxj.dbm.service.impl.ShopOrderService">
 	<property name="logicService" ref="logicService" />
 	<property name="storageService" ref="storageService"/>
 </bean>
 
  <bean id="buyOrderService" class="com.zxj.dbm.service.impl.BuyOrderService">
 	<property name="logicService" ref="logicService" />
 </bean>
 
  <bean id="storageService" class="com.zxj.dbm.service.impl.StorageService">
 	<property name="logicService" ref="logicService" />
 </bean>
 
 </beans>
