<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Stock</display-name>

  <servlet>
    <display-name>SaleOrderServlet</display-name>
    <servlet-name>SaleOrderServlet</servlet-name>
    <servlet-class>com.zxj.dbm.web.SaleOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleOrderServlet</servlet-name>
    <url-pattern>/com/zxj/dbm/SaleOrderServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-config.xml</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>BuyOrderServlet</display-name>
    <servlet-name>BuyOrderServlet</servlet-name>
    <servlet-class>com.zxj.dbm.web.BuyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyOrderServlet</servlet-name>
    <url-pattern>/com/zxj/dbm/BuyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StorageServlet</display-name>
    <servlet-name>StorageServlet</servlet-name>
    <servlet-class>com.zxj.dbm.web.StorageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StorageServlet</servlet-name>
    <url-pattern>/com/zxj/dbm/StorageServlet</url-pattern>
  </servlet-mapping>
</web-app>